<!-- Contenedor principal -->
<div id="wrapper">
    <!-- Contenido principal -->
    <div id="content" class="w-100">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top text-light">
            <a class="navbar-brand" (click)="urlRouter('/panel')">Taller</a>
            <span class="sidebar-toggle d-lg-none" id="menu-toggle"><i class="bi bi-list"></i></span>
            <a class="navbar-brand" (click)="urlRouter('/panel/clientes')">Clientes</a>
            <a class="navbar-brand" (click)="urlRouter('/panel/personal')">Personal</a>

            <div class="ml-auto d-flex align-items-center">
                <span class="navbar-text mr-3"><i class="bi bi-person-circle"></i> {{this.perfil_name}}</span>
                <button class="btn btn-sm btn-light rounded-circle" (click)="cerrarSesion()"><i
                        class="bi bi-box-arrow-right"></i></button>
            </div>
        </nav>

        <!-- Contenido -->
        <div class="container-fluid">
            <router-outlet />
        </div>

    </div>
</div>
